header{
    background: #0d192c;
    color:#70d0ee;
    padding:0px;
    opacity: 0.9;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
h1{
    margin-top:30px;

}

@media screen and (max-width: 768px) {
    h1{
        margin-top:80px;
        font-size: 1.5em;
    }
    h4{
        font-size: 0.9em; 
    }
  }